*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
body{
background:#000;
color:white;
overflow-x:hidden;
}
.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)),
url("https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c");
background-size:cover;
background-position:center;
display:flex;
flex-direction:column;
}
.navbar{
position:fixed;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.4);
backdrop-filter:blur(12px);
z-index:1000;
}
.logo{
color:#e50914;
font-size:2rem;
font-weight:700;
}
.nav-links{
display:flex;
gap:30px;
list-style:none;
}
.nav-links a{
text-decoration:none;
color:white;
transition:.3s;
}

.nav-links a:hover{
color:#e50914;
}
.signin-btn{
padding:10px 20px;
border:none;
background:#e50914;
color:white;
border-radius:5px;
cursor:pointer;
}
.hero-content{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}
.hero-content h1{
font-size:4rem;
margin-bottom:20px;
}

.hero-content p{
font-size:1.3rem;
margin-bottom:30px;
}

.email-box{
display:flex;
gap:10px;
}
.email-box input{
padding:15px;
width:320px;
border:none;
border-radius:5px;
}
.email-box button{
padding:15px 25px;
border:none;
background:#e50914;
color:white;
cursor:pointer;
border-radius:5px;
}
.trending{
padding:100px 8%;
}

.trending h2{
margin-bottom:40px;
font-size:2rem;
}

.movie-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}
.movie-card{
overflow:hidden;
border-radius:15px;
}

.movie-card img{
width:100%;
height:350px;
object-fit:cover;
transition:.5s;
}
.movie-card:hover img{
transform:scale(1.1);
}

/* FEATURES */

.features{
padding:100px 8%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}
.feature{
background:rgba(255,255,255,.05);
backdrop-filter:blur(10px);
padding:40px;
border-radius:20px;
transition:.4s;
}
.feature:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #e50914;
}
.pricing{
padding:100px 8%;
text-align:center;
}

.plans{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
margin-top:50px;
}
.plan-card{
background:#111;
padding:40px;
border-radius:20px;
transition:.4s;
position:relative;
}
.plan-card:hover{
transform:translateY(-10px);
}

.plan-card h1{
font-size:3rem;
color:#e50914;
}

.plan-card button{
margin-top:20px;
padding:12px 25px;
background:#e50914;
border:none;
color:white;
cursor:pointer;
border-radius:8px;
}
.popular{
border:2px solid #e50914;
}

.popular span{
position:absolute;
top:-12px;
left:50%;
transform:translateX(-50%);
background:#e50914;
padding:5px 15px;
border-radius:20px;
}
.faq{
padding:100px 8%;
max-width:900px;
margin:auto;
}