*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
body{
background:#000;
color:white;
overflow-x:hidden;
}
.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)),
url("https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c");
background-size:cover;
background-position:center;
display:flex;
flex-direction:column;
}
.navbar{
position:fixed;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.4);
backdrop-filter:blur(12px);
z-index:1000;
}
.logo{
color:#e50914;
font-size:2rem;
font-weight:700;
}
.nav-links{
display:flex;
gap:30px;
list-style:none;
}
.nav-links a{
text-decoration:none;
color:white;
transition:.3s;
}

.nav-links a:hover{
color:#e50914;
}
.signin-btn{
padding:10px 20px;
border:none;
background:#e50914;
color:white;
border-radius:5px;
cursor:pointer;
}
